
{% load static %}

{% block navbar %}

<!-- Navigation-->
<div
        class="container bg-sky-950 px-4 mx-auto flex flex-wrap items-center justify-between w-full"
      >
      <a href="{% url 'home' %}">
      <img src="{% static 'images/seo-usa-logo.png' %}" alt="Logo" class="object-contain h-16 w-auto">
      </a>
        <div class="w-full relative flex justify-between lg:w-auto lg:static lg:block lg:justify-start">
          <a
            class="text-sm font-bold leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-white"
            href="{% url 'landing1' %}"
            >SEO Alumni </a
          ><button
            class="cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none"
            type="button"
            onclick="toggleNavbar('example-collapse-navbar')"
          >
            <i class="text-white fas fa-bars"></i>
          </button>
        </div>
        <div
          class="lg:flex flex-grow items-center bg-white lg:bg-transparent lg:shadow-none hidden"
          id="example-collapse-navbar"
        >
          <ul class="flex flex-col lg:flex-row list-none mr-auto">
            <li class="flex items-center">
              <a
                class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
                href="{% url 'resources1' %}"
                ><i
                  class="lg:text-gray-300 text-gray-500 far fa-file-alt text-lg leading-lg mr-2"
                ></i>
                Resources</a
              >
            </li>
            <li class="flex items-center">
                <a
                  class="lg:text-white lg:hover:text-gray-300 text-gray-800 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
                  href="#"
                  ><i
                    class="lg:text-gray-300 text-gray-500 far fa-file-alt text-lg leading-lg mr-2"
                  ></i>
                  FAQ's</a
                >
              </li>
          </ul>
          <ul class="flex flex-col lg:flex-row list-none lg:ml-auto">
            <li class="flex items-center">
              <a href="https://toc.mysmartjobboard.com">
                <button
                  class="bg-white text-gray-800 active:bg-gray-100 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3"
                  type="button"
                  style="transition: all 0.15s ease 0s;"
                >
                Job Opportunities
                </button>
              </a>
            </li>
            <li class="flex items-center">
              <div class="relative">
                  <select
                      class="bg-white text-gray-800 active:bg-gray-100 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3"
                      style="transition: all 0.15s ease 0s;"
                      onchange="window.location.href = this.value;"
                  >
                      <option disabled selected>Events</option>
                      <option value="#">Upcoming Events</option>
                      <option value="#">Past Events</option>
                  </select>
              </div>
            </li>
              <li class="flex items-center">
                <a href="{% url 'profile1' %}">
                  <button
                    class="bg-white text-gray-800 active:bg-gray-100 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3"
                    type="button"
                    style="transition: all 0.15s ease 0s;"
                  >
                  Profile
                  </button>
                </a>
              </li>
              <li class="flex items-center">
                <a href="{% url 'alumni1' %}">
                  <button
                    class="bg-white text-gray-800 active:bg-gray-100 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3"
                    type="button"
                    style="transition: all 0.15s ease 0s;"
                  >
                  Alumni
                  </button>
                </a>
              </li>
          </ul>
        </div>
      </div>
{% endblock %}