{% extends 'style2/base.html' %}
{% load static %}
{% block title %}Landing2{% endblock %}
{% block content %}

<!-- Header -->
<div class="relative bg-blue-900 md:pt-32 pb-32 pt-12">
    <div class="px-4 md:px-10 mx-auto w-full">
      <div>
        <!-- Card stats -->
        <div class="flex flex-wrap">
          <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
            <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
              <div class="flex-auto p-4">
                <div class="flex flex-wrap">
                  <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                    <h5 class="text-sky-950 uppercase font-bold text-xs">
                      Upcoming Events
                    </h5>
                    <span class="font-semibold text-xl text-blueGray-700">
                      35
                    </span>
                  </div>
                  <div class="relative w-auto pl-4 flex-initial">
                    <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-red-500">
                        <i class="fas fa-handshake-angle"></i>
                    </div>
                  </div>
                </div>
                  <p class="text-sm text-sky-950 mt-4">
                  <span class="text-emerald-500 mr-2">
                    <i class="fas fa-arrow-up"></i> 3
                  </span>
                  <span class="whitespace-nowrap">
                    Added this month
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
            <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
              <div class="flex-auto p-4">
                <div class="flex flex-wrap">
                  <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                    <h5 class="text-sky-950 uppercase font-bold text-xs">
                      Attended Events
                    </h5>
                    <span class="font-semibold text-xl text-blueGray-700">
                      2
                    </span>
                  </div>
                  <div class="relative w-auto pl-4 flex-initial">
                    <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-orange-500">
                      <i class="fas fa-chart-pie"></i>
                    </div>
                  </div>
                </div>
                <p class="text-sm text-sky-950 mt-4">
                  <span class="text-green-500 mr-2">
                    <i class="fas fa-arrow-up"></i> 3
                  </span>
                  <span class="whitespace-nowrap">
                    New Resources
                  </span>
                </p>
              </div>
            </div>
          </div>
          <div class="w-full lg:w-6/12 xl:w-3/12 px-4 pb-12">
            <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
              <div class="flex-auto p-4">
                <div class="flex flex-wrap">
                  <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                    <h5 class="text-sky-950 uppercase font-bold text-sm">
                      Alumni Directory
                    </h5>
                  </div>
                  <div class="relative w-auto pl-4 flex-initial">
                    <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-blue-500">
                      <i class="fas fa-users"></i>
                    </div>
                  </div>
                  <p class="p-18 mt-3">
                    Some text
                  </p>
                </div>

              </div>
            </div>
          </div>
          <div class="w-full lg:w-6/12 xl:w-3/12 px-4">
            <div class="relative flex flex-col min-w-0 break-words bg-white rounded mb-6 xl:mb-0 shadow-lg">
              <div class="flex-auto p-4">
                <div class="flex flex-wrap">
                  <div class="relative w-full pr-4 max-w-full flex-grow flex-1">
                    <h5 class="text-sky-950 uppercase font-bold text-xs">
                      Actions
                    </h5>
                    <span class="font-semibold text-xl text-blueGray-700">
                      1
                    </span>
                  </div>
                  <div class="relative w-auto pl-4 flex-initial">
                    <div class="text-white p-3 text-center inline-flex items-center justify-center w-12 h-12 shadow-lg rounded-full bg-lightBlue-500">
                        <i class="fa-solid fa-list-check"></i>
                    </div>
                  </div>
                </div>
                <p class="text-sm text-sky-950">
                  <span class="whitespace-wrap">
                    Connect your LinkedIn account for a better expereince
                  </span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="px-4 md:px-10 mx-auto w-full -m-24">
    <div class="flex flex-wrap">
      <div class="w-full xl:w-8/12 mb-12 xl:mb-0 px-4">
        <div
          class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-blueGray-800"
        >
          <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
            <div class="flex flex-wrap items-center">
              <div class="relative w-full max-w-full flex-grow flex-1">
                <h2 class="text-white text-xl font-semibold">
                  Latest News
                </h2>
              </div>
            </div>
          </div>
          <div class="p-4 flex-auto">
            <!-- Content -->
            <div class="relative flex justify-center">
                <!-- Blog Post 1 -->
                <div class="w-1/2 px-4">
                    <div class="bg-white rounded-lg shadow-md overflow-hidden mb-4">
                        <img src="{% static 'images/event-1-small.png' %}" alt="Blog Post 1" class="w-full h-32 object-cover">
                        <div class="p-6">
                            <h2 class="text-xl font-semibold mb-2">Blog Post Title 1</h2>
                            <p class="text-gray-600">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris suscipit, lectus ut varius tristique, leo ex vehicula libero, nec fringilla nisi elit non velit.</p>
                            <a href="#" class="text-blue-500 font-semibold mt-2 inline-block">Read More</a>
                        </div>
                    </div>
                </div>
                <!-- Blog Post 2 -->
                <div class="w-1/2 px-4">
                    <div class="bg-white rounded-lg shadow-md overflow-hidden">
                        <img src="{% static 'images/event-2-small.png' %}" alt="Blog Post 2" class="w-full h-32 object-cover">
                        <div class="p-6">
                            <h2 class="text-xl font-semibold mb-2">Blog Post Title 2</h2>
                            <p class="text-gray-600">Sed euismod libero sed quam ultricies, id malesuada risus sollicitudin. Aliquam at odio augue. Nam ac nulla in mi ullamcorper venenatis.</p>
                            <a href="#" class="text-blue-500 font-semibold mt-2 inline-block">Read More</a>
                        </div>
                    </div>
                </div>
            </div>


          </div>
        </div>
      </div>
      <div class="w-full xl:w-4/12 px-4">
        <div
          class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded"
        >
          <div class="rounded-t mb-0 px-4 py-3 bg-transparent">
            <div class="flex flex-wrap items-center">
              <div class="relative w-full max-w-full flex-grow flex-1">
                <h2 class="text-blueGray-700 text-xl font-semibold">
                  Links
                </h2>
              </div>
            </div>
          </div>
          <div class="p-4 flex-auto">
            <!-- Content -->
            <div class="relative" style="height:350px">
              <div>
                <div class="col-span-2 bg-blueGray-800 p-4 shadow rounded mt-2">
                    <a href="https://toc.mysmartjobboard.com" class="flex items-center">
                        <div>
                            <i class="fa-solid fa-arrow-up-right-from-square fa-lg text-white"></i>
                        </div>
                        <div class="flex flex-col items-center justify-center ml-4 pl-10"> <!-- Added ml-4 for left margin -->
                            <div class="flex items-center">
                                <img src="{% static 'images/seo-usa-logo.png' %}" alt="Logo" class="object-contain h-8 w-auto">
                                <p class="font-bold text-lg text-white ml-2">Talent Opportunity Center</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-span-2 bg-blueGray-800 p-4 shadow rounded mt-2">
                    <a href="https://toc.mysmartjobboard.com" class="flex items-center">
                        <div>
                            <i class="fa-solid fa-arrow-up-right-from-square fa-lg text-white"></i>
                        </div>
                        <div class="flex flex-col items-center justify-center ml-4 pl-10"> <!-- Added ml-4 for left margin -->
                            <div class="flex items-center">
                                
                                <p class="font-bold text-lg text-white ml-2">Another Link</p>
                            </div>
                        </div>
                    </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% endblock %}